services:
  backend:
    build:
      context: .
      dockerfile: src/backend/Dockerfile.dev
    ports:
      - "3000:8080"
    volumes:
      - ./src/backend:/app/src/backend
      - ./src/protos:/app/src/protos
      - /app/src/backend/bin
      - /app/src/backend/obj
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_ENVIRONMENT=Development
      - CONNECTION_STRING=Host=db;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_EXPIRY_HOURS=${JWT_EXPIRY_HOURS}
      - GO_PHYS_SVC_URL=${GO_PHYS_SVC_URL}
    depends_on:
      db:
        condition: service_healthy
      migration-service:
        condition: service_completed_successfully
      physics-service:
        condition: service_started

  db:
    image: postgres:18-alpine
    restart: always
    ports:
      - "3002:5432"
    volumes:
      - personal-website-data-dev:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  migration-service:
    build:
      context: src/migration-service
      dockerfile: Dockerfile
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - JDBC_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
    depends_on:
      db:
        condition: service_healthy

  physics-service:
    build:
      context: src/physics-service
      dockerfile: Dockerfile
    environment:
      - GRPC_PORT=50051

volumes:
  personal-website-data-dev:
