name: Lint physics service
run-name: Lint physics service - ${{ github.event.head_commit.message }}

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.0'
          cache-dependency-path: src/physics-service/go.sum

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: src/physics-service
          args: --timeout=4m
