name: Build and push backend image
run-name: Build and push backend image - ${{ github.event.head_commit.message }}

on:
  push:
    branches: [main, dev]
    tags: ['v*.*.*']
  pull_request:
    branches: [main]
  paths:
      - 'src/backend/**'
      - 'src/protos/**'
      - 'tests/backend/**'
      - 'backend.slnx'
      - '.github/workflows/backend/**'

permissions:
  packages: write
  contents: read

jobs:
  lint:
    uses: ./.github/workflows/backend/lint.yaml
  test:
    uses: ./.github/workflows/backend/test.yaml

  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/dev' || startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Extract metadata for image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          flavor: |
            latest=${{ startsWith(github.ref, 'refs/tags/') && 'auto' || 'false' }}
          tags: |
            type=semver,pattern={{version}}
            type=sha,prefix=

            # dev on dev branch
            type=raw,value=dev,enable=${{ github.ref == 'refs/heads/dev' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
        with:
          context: .
          file: src/backend/Dockerfile
          platforms: linux/arm64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BACKEND_VERSION=${{ steps.meta.outputs.version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Clean up old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: 'container'
          min-versions-to-keep: 30
          delete-only-untagged-versions: false
