name: Lint backend
run-name: Lint backend - ${{ github.event.head_commit.message }}

on:
  workflow_call:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10

      - name: Lint
        run: dotnet format --verify-no-changes --verbosity diagnostic backend.slnx
