name: Build and push go-phys-service
run-name: Build and push go-phys-service - ${{ github.event.head_commit.message }}

on:
  push:
    branches: [main, dev]
    paths:
      - 'src/physics-service/**'
      - '.github/workflows/build-physics-service.yaml'

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set short git commit SHA
        id: vars
        run: |
          FULL_SHA="${{ github.sha }}"
          SHORT_SHA="${FULL_SHA:0:7}"
          echo "COMMIT_SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV

      - name: Extract version from commit message
        id: extract_version
        env:
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          branch_name="${{ github.ref_name }}"

          if [[ "$branch_name" == "main" ]]; then
            TAG_NAME="latest"
            echo "LATEST_TAG=$TAG_NAME" >> $GITHUB_ENV
            echo "IS_MAIN=true" >> $GITHUB_ENV
          else
            TAG_NAME="latest-dev"
            echo "LATEST_TAG=$TAG_NAME" >> $GITHUB_ENV
            echo "IS_MAIN=false" >> $GITHUB_ENV
          fi

          # Case-insensitive matching
          shopt -s nocasematch

          if [[ "$COMMIT_MSG" =~ bump:v?([0-9]+\.[0-9]+\.[0-9]+) ]]; then
            version="${BASH_REMATCH[1]}"
            echo "Found version bump: $version"

            if [[ "$branch_name" == "main" ]]; then
              echo "IMAGE_VERSION=$version" >> $GITHUB_ENV
            else
              echo "IMAGE_VERSION=${version}-dev" >> $GITHUB_ENV
            fi
          else
            echo "No version bump found."
            echo "IMAGE_VERSION=$TAG_NAME" >> $GITHUB_ENV
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
        with:
          context: src/physics-service
          platforms: linux/arm64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/laurimaila/go-phys-svc:${{ env.LATEST_TAG }}
            ghcr.io/laurimaila/go-phys-svc:${{ env.IMAGE_VERSION }}
            ghcr.io/laurimaila/go-phys-svc:${{ env.COMMIT_SHORT_SHA }}

      - name: Clean up old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: go-phys-svc
          package-type: 'container'
          min-versions-to-keep: 15
          delete-only-untagged-versions: false
