name: Build and push image
run-name: Build and push image - ${{ github.event.workflow_run.head_commit.message }}
on:
  workflow_run:
    workflows: ["Run tests"]
    branches: [main,dev]
    types: [completed]

permissions:
  packages: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
          fetch-depth: 0

      - name: Set short git commit SHA
        id: vars
        run: |
          FULL_SHA="${{ github.event.workflow_run.head_sha }}"
          SHORT_SHA="${FULL_SHA:0:7}"
          echo "COMMIT_SHORT_SHA=$SHORT_SHA" >> $GITHUB_ENV

      - name: Extract version from commit message
        id: extract_version
        env:
          COMMIT_MSG: ${{ github.event.workflow_run.head_commit.message }}
        run: |
          branch_name="${{ github.event.workflow_run.head_branch }}"

          if [[ "$branch_name" == "main" ]]; then
            TAG_NAME="latest"
            echo "LATEST_TAG=$TAG_NAME" >> $GITHUB_ENV
            echo "IS_MAIN=true" >> $GITHUB_ENV
          else
            TAG_NAME="latest-dev"
            echo "LATEST_TAG=$TAG_NAME" >> $GITHUB_ENV
            echo "IS_MAIN=false" >> $GITHUB_ENV
          fi

          # Case-insensitive matching
          shopt -s nocasematch

          if [[ "$COMMIT_MSG" =~ bump:v?([0-9]+\.[0-9]+\.[0-9]+) ]]; then
            version="${BASH_REMATCH[1]}"
            echo "Found version bump: $version"
            echo "APP_VERSION=v$version" >> $GITHUB_ENV

            if [[ "$branch_name" == "main" ]]; then
              echo "IMAGE_VERSION=$version" >> $GITHUB_ENV
              echo "IS_RELEASE=true" >> $GITHUB_ENV
            else
              echo "IMAGE_VERSION=${version}-dev" >> $GITHUB_ENV
              echo "IS_RELEASE=false" >> $GITHUB_ENV
            fi
          else
            echo "No version bump found."
            echo "APP_VERSION=$COMMIT_SHORT_SHA" >> $GITHUB_ENV
            echo "IMAGE_VERSION=$TAG_NAME" >> $GITHUB_ENV
            echo "IS_RELEASE=false" >> $GITHUB_ENV
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        env:
          COMMIT_SHORT_SHA: ${{ env.COMMIT_SHORT_SHA }}
          IMAGE_VERSION: ${{ env.IMAGE_VERSION }}
          LATEST_TAG: ${{ env.LATEST_TAG }}
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
        with:
          context: .
          file: src/Dockerfile
          platforms: linux/arm64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            BACKEND_VERSION=${{ env.APP_VERSION }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ env.LATEST_TAG }}
            ghcr.io/${{ github.repository }}:${{ env.IMAGE_VERSION }}
            ghcr.io/${{ github.repository }}:${{ env.COMMIT_SHORT_SHA }}

      - name: Clean up old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: ${{ github.event.repository.name }}
          package-type: 'container'
          min-versions-to-keep: 15
          delete-only-untagged-versions: false
