name: Build and push quarkus-migration-service

on:
  push:
    branches: [dev]
    tags: ['v*.*.*']
    paths:
      - 'src/migration-service/**'
      - '.github/workflows/build-migration-service.yaml'

permissions:
  packages: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata for image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/laurimaila/quarkus-migration-svc
          tags: |
            type=raw,value=latest-dev,enable=${{ github.ref == 'refs/heads/dev' }}
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/') }}

            type=sha,prefix=
            type=semver,pattern={{version}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
        with:
          context: src/migration-service
          platforms: linux/arm64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Clean up old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: quarkus-migration-svc
          package-type: 'container'
          min-versions-to-keep: 10
          delete-only-untagged-versions: false
