name: Build and push migration svc image
run-name: Build and push migration svc image - ${{ github.event.head_commit.message }}

on:
  push:
    branches: [main,dev]
    tags: ['v*.*.*']

permissions:
  contents: read
  packages: write
  actions: write

jobs:
  lint:
    uses: ./.github/workflows/migration-lint.yaml
  test:
    uses: ./.github/workflows/migration-test.yaml

  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata for image
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository_owner }}/liquibase-svc
          tags: |
            type=semver,pattern={{version}}

            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
            type=sha,prefix=,enable=${{ github.ref == 'refs/heads/main' }}

            type=raw,value=dev,enable=${{ github.ref == 'refs/heads/dev' }}
            type=sha,prefix=,suffix=-dev,enable=${{ github.ref == 'refs/heads/dev' }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        env:
          BUILDX_NO_DEFAULT_ATTESTATIONS: 1
        with:
          context: src/migration-service
          platforms: linux/arm64,linux/amd64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Clean up old package versions
        uses: actions/delete-package-versions@v5
        with:
          package-name: liquibase-svc
          package-type: 'container'
          min-versions-to-keep: 30
          delete-only-untagged-versions: false
