name: Test migration service
run-name: Test migration service - ${{ github.event.head_commit.message }}

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Test
        run: mvn -B test --file src/migration-service/pom.xml
